<%- include('header'); -%>
    <div class="content" style = "background-color: rgb(236, 224, 197);">
        <h1 style = "font-family: 'Times New Roman'; color: rgb(79, 107, 21);">Selected articles</h1>
        <table id="catalogue">
            <thead>
                <tr>
                    <th style = "font-family: Georgia;
                    color: #382f1ce1;
                    font-size: 25px;"> Name</th>
                    <th scope="col" style = "font-family: Georgia;
                    color: #382f1ce1;
                    font-size: 25px;">Reference</th>
                    <th scope="col" style = "font-family: Georgia;
                    color: #382f1ce1;
                    font-size: 25px;">Category</th>
                    <th scope="col" style = "font-family: Georgia;
                    color: #382f1ce1;
                    font-size: 25px;">Price</th>
                </tr>
            </thead>
            <tbody>
                <% products.forEach(product => { %>
                    <tr>
                        <th scope="row" style = "font-family: 'Times New Roman';
                        color: #5802028c;
                        font-size: 18px;">
                            <%= product.name %>
                        </th>
                        <td>
                            <a href="/api/article/<%= product.reference %>">
                                <%= product.reference %>
                            </a>
                        </td>
                        <td style = "font-family: 'Times New Roman';
                        color: #3a09098c;
                        font-size: 18px;">
                            <%= product.category %>
                        </td>
                        <td style = "font-family: 'Times New Roman';
                        color: #3a09098c;
                        font-size: 18px;">
                            <%= product.price %>AED
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <br>
    <%- include('footer'); -%>